/* Login.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #9796ed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  margin: 20;
}

.login-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  padding: 20px;
  background-color: #dddde8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #111212;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.signup-button-in-login {
  margin: 40px; /* Adjust the margin value as needed */
}
